@model DepartmentViewModel

<div>
    <label class="col-form-label" asp-for="Code"></label>
    <input type="text" asp-for="Code" class="form-control" readonly />
</div>
<div>
    <label asp-for="Name" class="col-form-label"></label>
    <input type="text" asp-for="Name" class="form-control" readonly />
</div>
<div>
    <label class="col-form-label" asp-for="DateOfCreation"></label>
    <input asp-for="DateOfCreation" class="form-control" readonly />
</div>